<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="kr.withanimal.board.dao.ProtectDAO">
	
	<!-- 1. 개수 구하기 -->
	<select id="selectCount" resultType="int" parameterType="HashMap">
		<![CDATA[ 
			select count(*) from withanimal_protect WHERE HAPPENDT>=#{bgnde} and HAPPENDT<=#{endde} 
			and KINDCD LIKE '${kindCd}%' AND PROCESSSTATE LIKE '${processState}%'  
		]]>
	</select>
	 
	<!-- 2. 1개 구하기 -->
	<select id="selectByIdx" parameterType="int" resultType="ProtectVO">
		select * from withanimal_protect where content_idx=#{content_idx}
	</select>
		
	<!-- 3. 1페이지 얻기  //오라클 -->
	<select id="selectList" parameterType="HashMap" resultType="ProtectVO">
		<![CDATA[ 
		select 
			Q.*
		from 
			(select rownum rnum, R.* 
			 from 
				(select * from withanimal_protect WHERE HAPPENDT>=#{bgnde} and HAPPENDT<=#{endde}
				 and KINDCD LIKE '${kindCd}%' AND PROCESSSTATE LIKE '${processState}%' order by content_idx) R
			 where rownum<=${endNo}) Q                            
		where rnum>=${startNo}      
		]]>                             
	</select>
	
	<insert id="insert" parameterType="ProtectVO">
	    insert into withanimal_protect 
		values (withanimal_protect_idx_seq.nextval, #{age}, #{careAddr}, #{careNm}, #{careTel},  
				#{chargeNm}, #{colorCd}, #{desertionNo}, #{filename}, #{happenDt},
				#{happenPlace}, #{kindCd}, #{neuterYn}, #{noticeEdt}, #{noticeNo},
				#{noticeSdt}, #{officetel}, #{orgNm}, #{popfile}, #{processState},
				#{sexCd}, #{specialMark}, #{weight}
		)		
	</insert>
	
	</mapper>